*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --orange: #ffa200;
  --bg: linear-gradient(135deg, #fc2473, #f66936);

  --delay: 200ms;
  --rotate-0: rotateY(0deg);
  --rotate-90: rotateY(90deg);
  --transition: all ease-in 200ms;

  --radius: 0.75rem;
  --shadow: 1px 1px 13px #03030390;

  --card-width: 150px;
  --card-width-mobile: 20vw;
  --card-enter: enter 600ms ease;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  overflow: auto;
  color: white;
  background: #09090b;
  align-items: flex-start;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.grid {
  gap: 1.25rem;
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(4, auto);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
